/* General styles */

* {
    margin: 0;
    padding: 0;
    font-family: monospace;
    list-style-type: none;
    text-decoration: none;
}

body {
    min-height: 100vh;
    background-color: PapayaWhip;
}

/* Main heading */

h1 {
    text-align: center;
    background-color: Maroon;
    color: OldLace;
    padding: 20px;
}

/* Dropdown filters */

#filters {
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#filters>div {
    padding: 5px 20px;
}

/* OCARINA RIVER & CARDS */

#ocarina-river {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ocarina-card {
    width: 160px;
    margin: 10px;
    padding: 15px;
    background-color: Maroon;
    color: OldLace;
    border-radius: 10px;
}

.img-space {
    width: 100px;
    height: 100px;
    background-color: Grey;
    border-radius: 10px;
    margin: 0 auto;
}

/* OCARINA MODAL */

#ocarina-modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

#inner-oc-modal {
    background-color: Maroon;
    margin: auto;
    padding: 15px;
    border-radius: 10px;
    width: 80%;
}

#details {
    background-color: PapayaWhip;
    border-radius: 10px;
    padding: 15px;
}

#close-button {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#close-button:hover,
#close-button:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Footer */

footer {
    text-align: center;
    height: 50px;
    padding-top: 20px;
}

footer > a {
    color: black;
    margin: 20px;
}

footer > a:hover {
    color: Blue;
}


.carousel-container {
    width: 500px;
    margin: 0 auto;
    display: flex;
}

.nav-button {
    border: none;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin: auto;
    font-size: 2em;
    color: darkgrey;
}

.slider {
    width: 300px;
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
    border-radius: 10px;
}

.slider>div {
    height: 300px;
    width: 300px;
    flex-shrink: 0;
}


@media screen and (max-width: 500px) {
    .carousel-container {
        max-width: 70vw;
    }

    .nav-button {
        height: 25px;
        width: 25px;
    }
    .slider {
        width: 150px;
    }

    .slider>div {
        width: 150px;
        height: 150px;
    }
}