* {
    margin: 0;
    padding: 0;
    font-family: monospace;
    list-style-type: none;
    text-decoration: none;
}

body {
    min-height: 100vh;
    background-color: PapayaWhip;
}

h1 {
    text-align: center;
    background-color: Maroon;
    color: OldLace;
    padding: 20px;
}

#filters {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}

#ocarina-river {
    display: flex;
    flex-wrap: wrap;
}

.ocarina-card {
    width: 160px;
    margin: 10px;
    padding: 15px;
    background-color: Maroon;
    color: OldLace;
    border-radius: 10px;
}

.img-space {
    width: 100px;
    height: 100px;
    background-color: grey;
    border-radius: 10px;
    margin: 0 auto;
}
